# 编译产物
unpackage/
dist/
build/

# 依赖
node_modules/
pnpm-lock.yaml
package-lock.json

# 日志
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# 环境变量
.env
.env.local
.env.*.local

# 临时文件
*.tmp
*.temp

# 配置文件（包含敏感信息）
config.local.js
api/config.local.js

